<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>question</key>
			<string>В каком случае водитель совершит вынужденную остановку?</string>
			<key>responseOptions</key>
			<dict>
				<key>1</key>
				<string>Остановившись непосредственно перед пешеходным переходом, чтобы уступить дорогу пешеходу.</string>
				<key>2</key>
				<string>Остановившись на проезжей части из-за технической неисправности транспортного средства.</string>
				<key>3</key>
				<string>В обоих перечисленных случаях.</string>
			</dict>
			<key>comment</key>
			<string>Под вынужденной остановкой понимается прекращение движения ТС из-за его технической неисправности, опасности, создаваемой перевозимым грузом, внезапным ухудшением состояния водителя (или пассажира), а также появлением препятствия на дороге (п. 1.2). Остановка, связанная с необходимостью выполнения требования уступить дорогу, не рассматривается как вынужденная.</string>
			<key>correctAnswer</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>paper.1.2</string>
			<key>question</key>
			<string>Разрешён ли вам съезд на дорогу с грунтовым покрытием?</string>
			<key>responseOptions</key>
			<dict>
				<key>1</key>
				<string>Разрешён.</string>
				<key>2</key>
				<string>Разрешён только при технической неисправности транспортного средства.</string>
				<key>3</key>
				<string>Запрещён.</string>
			</dict>
			<key>comment</key>
			<string>Знаки 1.11.2 «Опасный поворот» и 1.34.2 «Направление поворота» указывают направление движения на закруглениях дороги малого радиуса с ограниченной видимостью. Эти знаки не ограничивают возможность съезда с дороги, в данном случае — на примыкающую справа грунтовую дорогу.</string>
			<key>correctAnswer</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>paper.1.3</string>
			<key>question</key>
			<string>Можно ли вам остановиться в указанном месте для посадки пассажира?</string>
			<key>responseOptions</key>
			<dict>
				<key>1</key>
				<string>Можно.</string>
				<key>2</key>
				<string>Можно, если вы управляете такси.</string>
				<key>3</key>
				<string>Нельзя.</string>
			</dict>
			<key>comment</key>
			<string>Знак 3.28 «Стоянка запрещена» остановку не запрещает, поэтому вы можете остановиться в указанном месте.</string>
			<key>correctAnswer</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>paper.1.4</string>
			<key>question</key>
			<string>Какие из указанных знаков запрещают движение водителям мопедов?</string>
			<key>responseOptions</key>
			<dict>
				<key>1</key>
				<string>Только А.</string>
				<key>2</key>
				<string>Только Б.</string>
				<key>3</key>
				<string>В и Г.</string>
				<key>4</key>
				<string>Все.</string>
			</dict>
			<key>comment</key>
			<string>Все указанные знаки запрещают движение водителям мопедов. Знак 5.14 (знак Б) «Полоса для маршрутных транспортных средств» используется для обозначения полосы, предназначенной для движения только маршрутных ТС, велосипедистов, школьных автобусов и ТС, используемых в качестве легкового такси. Знаки 4.4.1 (знак А) «Велосипедная дорожка», 4.5.2 «Пешеходная и велосипедная дорожка с совмещенным движением» (знак В) и 4.5.4 «Пешеходная и велосипедная дорожка с разделением движения» (знак Г) движение мопедов также не предусматривают (п. 1.2 «Велосипедная дорожка»).</string>
			<key>correctAnswer</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>paper.1.5</string>
			<key>question</key>
			<string>Вы намерены повернуть налево. Где следует остановиться, чтобы уступить дорогу легковому автомобилю?</string>
			<key>responseOptions</key>
			<dict>
				<key>1</key>
				<string>Перед знаком.</string>
				<key>2</key>
				<string>Перед перекрёстком у линии разметки.</string>
				<key>3</key>
				<string>На перекрёстке перед прерывистой линией разметки.</string>
				<key>4</key>
				<string>В любом месте по усмотрению водителя.</string>
			</dict>
			<key>comment</key>
			<string>Разметка 1.13 (в виде линии из треугольников) наносится поперёк полосы движения и указывает место, где вы должны при необходимости остановиться, выполняя требование знака 2.4 «Уступите дорогу» и предоставляя преимущество ТС, движущимся по пересекаемой дороге.</string>
			<key>correctAnswer</key>
			<integer>2</integer>
		</dict>
	</array>
</array>
</plist>
